<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="icon" href="../images/favicon.png" type="image/png">
    <title>Smoothie King - Cart</title>
</head>
<body>
    <div class="main-header-container">
        <img src="../images/smoothie-king-logo.png" style="width:400px; height:70px;" id="logo">
        <!--SIGN OUT BUTTON-->
        <!--<button id="sign-out-button"    >
            <img src="../images/sign-out-button.png" style="width:70px; height:70px">
        </button>-->
        <!--cart button-->
        <!--menu pop up/drop down (stretch)-->
        
    </div>
    <div class="body-container">
        <div class="body-item cart-header">
            <h1>CART</h1>
        </div>
        <div class="body-item item-container">
            <% cart.forEach(function(item) { %>
                <div class="cart-item">
                    <div class="cart-item-left">
                        <div class="cil-desc">
                            <img src=../images/smoothie0.png style="width: 120px; height: 100px">
                        </div>
                        <div class="cil-desc">
                            <h2><%= item.name %></h2>
                        </div>
                        <div class="cil-desc">
                            <h3><%= item.size %> oz</h3>
                        </div>
                    </div>
                    <div class="cart-item-right">
                        <div class="cir-desc">
                            <h2>$<%= item.price %></h2>
                        </div>
                        <div class="cir-desc">
                            <button class="edit-button">EDIT</button>
                        </div>
                        <div class="cir-desc">
                            <button class="remove-button">REMOVE</button>
                        </div>
                    </div>
                    <div class="item-info" style="display:none;">
                        <!-- use this to save ingredient and additive information-->
                    </div>
                </div>
            <% }); %>

        </div>
        <div class="body-item cart-dashboard">
            <button class="clear-button">Clear Order</button>
            <button class="place-order-button">Place Order</button>
        </div>
    </div>
</body>
</html>

<script>
    // helper functions
    function place_order() {
        // orders_summary
        // orders_by_item
        // inventory

        const cart_items = document.querySelectorAll(".cart-item");
        cart_items.forEach(item => {
            console.log("TEST");

            // get item name

        })
    }

    // remove individual items from the cart
    const remove_buttons = document.querySelectorAll(".remove-button");

    remove_buttons.forEach(button => {
        button.addEventListener('click', () => {
            const cart_item = button.parentNode.parentNode.parentNode;
            cart_item.remove();
        })
    });

    // clear all item from the cart
    const clear_button = document.querySelector(".clear-button");

    clear_button.addEventListener('click', () => {
        const item_container = document.querySelector(".item-container");
        item_container.innerHTML = "";
    })

    // place the order and update the database
    const place_order_button = document.querySelector(".place-order-button");

    place_order_button.addEventListener('click', place_order);

</script>