<!DOCTYPE html>
<html>
<head>
	<title>Manager Menu</title>
</head>
<body>
	<table>
    <thead>
      <tr>
        <th>Menu Item</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody contenteditable="true" id="menu_table">
      <% menu.forEach(menu => { %>
        <tr>
          <td><%= menu.menu_item_id %></td>
          <td><%= menu.category %></td>
          <td><%= menu.price %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
  