<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/server.css">
        <link rel="icon" href="images/favicon.png" type="image/png">
        <title>Smoothie King</title>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </head>
    <body>
        <div id="google_translate_element"></div>
        <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
            pageLanguage: 'en',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            autoDisplay: true,
            multilanguagePage: true
            }, 'google_translate_element');
        }
        </script>
        <div class="main-header-container">
            <img src="images/smoothie-king-logo.png" style="width:400px; height:70px;" id="logo">
            <!--SIGN OUT BUTTON-->
            <button id="sign-out-button"    >
                <img src="images/sign-out-button.png" style="width:70px; height:70px">
            </button>
            
        </div>

        <div class="main-grid-container">
            <div class="grid-item sub-heading-container">
                <h1>Order Summary</h1>
            </div>

            <div class="grid-item sub-heading-container">
                <h1>Menu</h1>
            </div>

            <div class="grid-item order-items-container">
                <div class="sub-grid-item order-item-list">
                    <!--TABLE/VIEW OF ORDER ITEMS-->
                        <!--DELETE ITEM BUTTON-->
                </div>
                <div class="sub-grid-item lower-panel">
                    <div id="total-label">
                        <h1>Total: $0.00</h1>
                    </div>
                    <div id="buttons-container">
                        <button>Clear Items</button>
                        <button>Pay Now</button>
                    </div>
                </div>
            </div>

            <div class="grid-item menu-item-container">
                <div class="sub-grid-item" id="category-container">
                    <button class="active">Featured</button>
                    <button>Feel Energized</button>
                    <button>Manage Weight</button>
                    <button>Get Fit</button>
                    <button>Be Well</button>
                    <button>Enjoy a Treat</button>
                    <button>Snacks</button>
                </div>
                <div class="sub-grid-item menu-item-list"></div>
            </div>

        </div>
    </body>
</html>

<!-- SCRIPT TO SWITCH CATEGORIES-->
<script>
    function loadMenuItems(category) {
        fetch(`/server/menu-items?category=${category}`)
        .then(response => response.json())
        .then(data => {
            const menu_set = new Set();

            let menuItems = '';
            data.forEach(item => {
                if (category == "snacks") {
                    menuItems += `
                    <div class="menu-item">
                        <div class="menu-item-name">
                            ${item.menu_item_id}
                        </div>
                        <div class="menu-item-size">
                            <button data-name="${item.menu_item_id}">Add</button>
                        </div>
                    </div>`;
                }
                else {
                    // filters out same items but different sizes
                    if (!menu_set.has(item.menu_item_id.substring(0, item.menu_item_id.length - 5))) {
                        menu_set.add(item.menu_item_id.substring(0, item.menu_item_id.length - 5));

                        menuItems += `
                        <div class="menu-item">
                            <div class="menu-item-name">
                                ${item.menu_item_id.substring(0, item.menu_item_id.length - 5)}
                            </div>
                            <div class="menu-item-size">
                                <button data-name="${item.menu_item_id}">20</button>
                                <button data-name="${item.menu_item_id}">32</button>
                                <button data-name="${item.menu_item_id}">40</button>
                            </div>
                        </div>`; 
                    }
                }
            });

            document.querySelector(".menu-item-list").innerHTML = menuItems;
        });
    }

    document.querySelectorAll("#category-container button").forEach(button => {
        button.addEventListener("click", (event) => {
            // Remove the 'active' class from all buttons
            document.querySelectorAll("#category-container button").forEach(btn => {
                btn.classList.remove("active");
            });

            // Add the 'active' class to the clicked button
            event.target.classList.add("active");
            
            const category = event.target.textContent.toLowerCase();
            loadMenuItems(category);
        });
    });

    // load featured by default
    loadMenuItems("featured");
</script>