<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="icon" href="../images/favicon.png" type="image/png">
    <script src="/user/user-functions.js"></script>
    <title>Smoothie King</title>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
    <div class="main-header-container">
        <img src="../images/smoothie-king-logo.png" style="width:400px; height:70px;" id="logo">
        <div class="checkout-container" style="display:none;">
            <button class="checkout-button">
                <h2>CHECKOUT $0.00</h2>
            </button>
        </div>
    </div>
    <div id="google_translate_element"></div>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'en',
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
          autoDisplay: true,
          multilanguagePage: true
        }, 'google_translate_element');
      }
    </script>
    <div class="body-container">
        <div class="main-grid-item ad-container">
            <img src="../images/promotion.gif" style="width: 60%; height: 90%;">
        </div>
        <div class="main-grid-item nav-container">
            <div class="nav-header">
                <h1>Discover The PERFECT Smoothie For YOU</h1>
            </div>
            <div class="button-container">
                <div class="nb-cat-container" id="category-container">
                    <button class="active">Featured</button>
                    <button>Feel Energized</button>
                    <button>Manage Weight</button>
                    <button>Get Fit</button>
                    <button>Be Well</button>
                    <button>Enjoy a Treat</button>
                    <button>Snacks</button>
                </div>
            </div>
        </div>
        <div class="main-grid-item content-container" id="main-container"></div>
    </div>

    <div id="popup-container" style="display:none;">
        <div class="popup-content">
            <div class="popup-left-side">
                <div id="back-button">
                    <button onclick="hidePopupSimple()">BACK</button>
                </div>
                <div class="popup-image">
                    <img src="" style="width:350px; height:300px;">
                </div>
                <div class="popup-desc">
                    <p>popup description<p>
                </div>
            </div>
            <div class="popup-right-side">
                <div class="popup-smoothie-name">
                    <h2>Smoothie</h2>
                </div>
                <div class="popup-size-selection">
                    <h3>Select a Size</h3>
                    <form class="size-container">
                        <div>
                            <input type="radio" name="size" value="20">
                            <label>20</label><br>
                        </div>
                        <div>
                            <input type="radio" name="size" value="32">
                            <label>32</label><br>
                        </div>
                        <div>
                            <input type="radio" name="size" value="40">
                            <label>40</label>
                        </div>
                    </form>
                </div>
                <div class="popup-ingredient-selection">
                    <h3>Select Ingredients</h3>
                </div>
                <div class="popup-additives-selection">
                    <h3>Select Additives</h3>
                </div>
                <div class="popup-add-button">
                    <button>Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
