@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    /* add background image */
    background-color: #f7f7f7;
}

/* GRID LAYOUT */
.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 800px;
}

.order-items-container, .menu-item-container {
    grid-row: 2 / span 1;
}

/* sub panel layouts */
.order-items-container {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.menu-item-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.lower-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu-item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.menu-item {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* CLASS STYLING */
.main-header-container {
    text-align: center;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 3px groove;
}

.sub-heading-container h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.lower-panel, .order-item-list {
    border-style: solid;
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.menu-item-list {
    margin: 50px;
}

.menu-item {
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* ID STYLING */
#category-container {
    padding-bottom: 30px;
    border-bottom: 3px groove;
    margin-left: 50px;
    margin-right: 50px;
}

#total-label, #buttons-container, #category-container {
    text-align: center;
    align-self: center;
}

#category-container button {
    border: solid;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    padding: 15px;
    background-color: transparent;
}

#category-container button:hover, #buttons-container button:hover {
    transition: transform 0.3s ease;
    transform: translateY(-5px);
}

#total-label {
    font-family: 'Poppins', sans-serif;
}

#buttons-container button {
    border: solid;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    padding: 15px;
    background-color: transparent;
}

#sign-out-button {
    display: none;
    float: right;
    margin-right: 40px;
}