@font-face {
    font-family: "cabo rounded";
    src: url("../fonts/cabo_rounded/Cabo-Rounded-Italic.otf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
}

/*LAYOUT STYLING*/
.body-container {
    display: grid;
    grid-template-rows: 600px 400px 1200px;
}

.main-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

/* CLASS STYLING */
.body-container {
    padding-top: 112px;
}

.main-header-container {
    position: fixed;
    width: 100%;
    z-index: 9999;

    text-align: center;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 20px;
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.checkout-container {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

.checkout-container button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(240, 240, 240);;
    border-style: none;
    font-family: 'cabo rounded', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), inset 0 -2px 5px rgba(0,0,0,0.2);
}

.checkout-container button:hover {
    cursor: pointer;
}

.ad-container {
    text-align: center;
    margin-top: 50px;
    height: 600px;
}

.ad-container img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.nav-container {
    background-color: rgba(186, 25, 33, 0.9);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-header h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'cabo rounded', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
}

.nb-cat-container button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: white;
    border-style: none;
    font-family: 'cabo rounded', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), inset 0 -2px 5px rgba(0,0,0,0.2);
    transition: transform .5s ease;
}

.nb-cat-container button:hover {
    transition: transform 0.3s ease;
    transform: translateY(-5px);
    cursor: pointer;
}

.nb-filter-container {
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
}

.menu-item {
    margin: 10px;
    font-family: 'cabo rounded', sans-serif;
}

.menu-item:hover {
    background-color: rgba(236, 230, 230, 0.3);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
}

.menu-item-image {
    text-align: center;
    margin: 40px;
}

.add-item-button, .menu-item-description, .menu-item-name{
    text-align: center;
    margin: 20px;
}

.add-item-button button, .popup-add-button button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: rgb(240, 240, 240);
    border-style: none;
    font-family: 'cabo rounded', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), inset 0 -2px 5px rgba(0,0,0,0.2);
}

.add-item-button button:hover, .popup-add-button button:hover {
    cursor: pointer;
}

.active {
    background-color: rgba(60, 0, 0, 0.4) !important;
    color: white;
}

/* POP-UP STYLING */
#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    font-family: 'cabo rounded', sans-serif;
}

.popup-content {
    display: grid;
    grid-template-columns: 400px 400px;

    background-color: white;
    border-radius: 10px;
    max-width: 60%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.popup-left-side, .popup-right-side {
    text-align: center;
    display: flex;
    margin: 10px;
}

.popup-left-side {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-left-side p {
    letter-spacing: 1px;
}

.popup-right-side {
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.popup-left-side img {
    padding: 20px;
}

.popup-right-side {
    border-radius: 10px;
    background-color: rgba(232, 232, 232, 0.2);
}

.size-container {
    display: inline-block;
}
