.btn-primary{
    border: 1px solid;
    border-color: white;
    padding: 10px;
    background-color: rgba(181,18,27,.8); 
    width: 50%;
    height: 50%;
    margin-bottom: 50px;
    color: white
}

.btn-primary button:hover{
    border: 1px solid;
    transition: transform 0.3s ease;
    transform: translateY(-5px);
    background-color: white;
    border-color: rgba(181,18,27,.8);
}